<ul>可以用的網站 ( 且只能爬 youtube dailymotion)：
<li><%= link_to "http://taiwanhearts.pixnet.net/blog","http://taiwanhearts.pixnet.net/blog"%></li>
<li><%= link_to "http://www.xn--fhqp31hmre.tv/","http://www.xn--fhqp31hmre.tv/"%></li>
<li><%= link_to "http://tw.lovetvshow.info/","http://tw.lovetvshow.info/"%></li>
<li><%= link_to "http://www.bananaidol.com/","http://www.bananaidol.com/"%></li>
<li><%= link_to "http://v.ck101.com/mainindex/index/wrongvhash","http://v.ck101.com/mainindex/index/wrongvhash"%></li>


</ul>

<h1>Editing ep</h1>

<%= render 'form' %>

<%= link_to 'Show', @ep %> |
<%= link_to 'Back', ep_v2s_path %>